﻿<HideWrapper Column="@Column">
    <th class="@Class">
        @ChildContent
    </th>
</HideWrapper>

@code
{
    [Parameter]
    public string Column { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [CascadingParameter]
    public TableSettings Settings { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Settings.Columns?.ContainsKey(Column) == false)
        {
            Settings.Columns.TryAdd(Column, true);
            
            Settings.InvokeOnChanged();
        }
    }
}