﻿@typeparam T

<CascadingValue Value="Settings">
    <table class="table table-bordered table-hover table-sm">
        <thead>
            @TableHeader(Settings)
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                @RowTemplate(item)
            }
        </tbody>
    </table>

    <TableConfiguration />

</CascadingValue>
