﻿<HideWrapper Column="@Column">
    <td class="@Class">
        @ChildContent
    </td>
</HideWrapper>

@code
{
    #region Parameters

    [Parameter]
    public string Column { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    #endregion

}
