﻿<h4>Table Configuration</h4>

@if (Settings.Columns != null)
{
    foreach (var collumn in Settings.Columns.Keys)
    {
        <div @key="@collumn">
            <input type="checkbox"
                   id="@($"checkbox-{collumn}")" 
                   checked="@Settings.Columns[collumn]" 
                   @onchange="@((e) => HandleCheckboxChange(collumn, e.Value))" />
            <label for="@($"checkbox-{collumn}")">
                @collumn
            </label>
        </div>
    }
}

@code 
{
    [CascadingParameter]
    public TableSettings Settings { get; set; }

    private void HandleCheckboxChange(string columnName, object value)
    {
        Settings.Columns[columnName] = (bool)value;

        Settings.InvokeOnChanged();
    }
}
