﻿@page "/table"

@using System.Threading
@using BlazorApp4.Model
@using BlazorApp4.Shared.Table

<Table Items="@Orders" T="OrderViewModel">
    <TableHeader>
        <HeaderCell Column="@nameof(OrderViewModel.Id)">Id</HeaderCell>
        <HeaderCell Column="@nameof(OrderViewModel.Account)">Account</HeaderCell>
        <HeaderCell Column="@nameof(OrderViewModel.Price)">Price</HeaderCell>
        <HeaderCell Column="@nameof(OrderViewModel.Count)">Count</HeaderCell>
    </TableHeader>
    <RowTemplate Context="order">
        <tr @key="order.Id" class="">
            <ItemCell Item="order" Column="@nameof(order.Id)">@order.Id</ItemCell>
            <ItemCell Item="order" Column="@nameof(order.Account)">@order.Account</ItemCell>
            <ItemCell Item="order" Column="@nameof(order.Price)">@order.Price</ItemCell>
            <ItemCell Item="order" Column="@nameof(order.Count)">@order.Count</ItemCell>
        </tr>
    </RowTemplate>
</Table>

<button @onclick="@Start">Start updates</button>
<button @onclick="@Stop">Stop updates</button>

@code
{
    List<OrderViewModel> Orders = new List<OrderViewModel>()
    {
        new OrderViewModel(1, "account 1", 125.55, 10),
        new OrderViewModel(2, "account 1", 144.87, 20),
        new OrderViewModel(3, "account 2", 598.50, 30),
        new OrderViewModel(4, "account 2", 854.10, 40),
        new OrderViewModel(5, "account 3", 100.55, 50),
    };

    CancellationTokenSource _cts;

    void Start()
    {
        _cts = new CancellationTokenSource();
        Task.Run(() => ProcessSomething(_cts.Token));
    }

    void Stop()
    {
        _cts?.Cancel();
    }

    public async Task ProcessSomething(CancellationToken cancellationToken)
    {
        try
        {
            var random = new Random();

            while (!cancellationToken.IsCancellationRequested)
            {
                var action = random.Next(3);

                if (action == 0) // Add
                {
                    var price = Math.Round(random.NextDouble() * 100.0, 2);

                    Orders.Add(new OrderViewModel(Orders.Count, "account", price, random.Next(100)));

                    // Обновляем весь компонент
                    await InvokeAsync(StateHasChanged);
                }
                else //Change
                {
                    var index = random.Next(Orders.Count);

                    var order = Orders[index];
                    order.Price = Math.Round(random.NextDouble() * 100.0, 2);

                    order.InvokeOnChanged(nameof(order.Price));
                }

                await Task.Delay(TimeSpan.FromSeconds(1), cancellationToken);
            }
        }
        catch (OperationCanceledException)
        {
            Console.WriteLine("Процесс остановлен");
        }
    }
}
